<div class="container mt-4">
  <mat-list>

    <mat-divider></mat-divider>

    <div mat-subheader class="fw-bold">CANJES DE ALUMNOS</div>
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>

      <div matListItemTitle>Excel {{ fecha }}</div>

      <div class="text-center ms-4">
        <button class="btn" type="button" (click)="exportAsExcelAlumnos()">
          Descargar
          <mat-icon style="vertical-align: middle;">get_app</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div mat-subheader class="fw-bold">CANJES POR CASINOS</div>
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>

      <div matListItemTitle>Excel {{ fecha }}</div>

      <div class="text-center ms-4">
        <button class="btn" type="button" (click)="exportAsExcelCasinos()">
          Descargar
          <mat-icon style="vertical-align: middle;">get_app</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>

  </mat-list>
</div>
