<nav class="navbar navbar-expand-md" [ngStyle]="{ 'background-color': '#00429A' }">
  <div class="container">
    <a class="navbar-logo d-flex align-items-center" href="/">
      <img src="assets/img/uv.png" style="height: 48px; margin-right: 0.75rem;" alt="Universidad de Valparaíso"/>

      <div class="d-none d-sm-block">
        <div style="font-weight: 700; letter-spacing: 0.04em;">
          Universidad de Valparaíso
        </div>
        <div style="font-size: 0.85rem; line-height: 1.1;">
          Facultad de Ingeniería – Escuela de Ingeniería Informática
        </div>
        <div style="font-size: 0.8rem;">
          Ingeniería Civil Informática
        </div>
      </div>
    </a>

    <button *ngIf="loginService.isLogged()" class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul *ngIf="loginService.isLogged()" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/casinos">Casinos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/documentos">Documentos</a></li>
        <li *ngIf="loginService.rolesAccess()" class="nav-item">
          <a class="nav-link" routerLink="/admin">Usuarios</a>
        </li>
      </ul>

      <div class="cerrar">
        <button
            *ngIf="loginService.isLogged()"
            class="logout-btn"
            type="button"
            (click)="logout()"
          >
          <span>Cerrar sesión</span>
          <mat-icon>logout</mat-icon>
        </button>
      </div>


    </div>
  </div>
</nav>

<div *ngIf="loading" class="loading">
  <mat-spinner diameter="60"></mat-spinner>
</div>

<div class="uv-main" *ngIf="!loading">
  <router-outlet></router-outlet>
</div>

<footer class="uv-footer">
  <p>&copy; {{ year }} Universidad de Valparaíso · Beca de Alimentación UV</p>
</footer>
