/* You can add global styles to this file, and also import other style files */

/* === Colores institucionales UV === */
:root {
  --uv-blue: #00429A;
  --uv-blue-dark: #003373;
  --uv-gray-light: #f5f5f5;
}

/* ============================
   FUENTES SWISS 721 – UV
   ============================ */

/* Regular */
@font-face {
  font-family: 'Swiss721';
  src: url('assets/fonts/swiss721/Swis721BT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Swiss721';
  src: url('assets/fonts/swiss721/Swis721BT bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Swiss721';
  src: url('assets/fonts/swiss721/Swis721BT italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Swiss721';
  src: url('assets/fonts/swiss721/Swis721BT bold italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

html, body { height: 100%; }
body,
.mat-typography,
.mat-mdc-typography {
  font-family: 'Swiss721', 'Helvetica Neue', Arial, sans-serif !important;
  background: linear-gradient(135deg, var(--uv-blue) 0%, #2569c5 40%, #f5f5f5 100%);
  min-height: 100vh;
}

::ng-deep .custom-snackbar {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999 !important;
  }
  